<li class="<%= chat_message.user == User.current ? "self" : "other" %>">
  <div class="avatar">
  	<% if avatar(chat_message.user, :size => "32").blank? %>
    	<%= link_to_user(chat_message.user, :format => :username) %>
    <% else %>
    	<%= link_to(avatar(chat_message.user, :size => "32"), user_path(chat_message.user)) %>
    <% end %>
  </div>
  <div class="chatboxmessagecontent">
    <p><%= textilizable(chat_message.body) %></p>
    <time datetime="<%= chat_message.created_at %>" title="<%= chat_message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= chat_message.user.name %> • <%= chat_message.created_at.strftime("%H:%M %p") %>
    </time>
  </div>
</li>