 <% if @project && @project.module_enabled?(:redmine_chat) && User.current %>
  <%= subscribe_to "/chatroom", User.current, @project %>
  <script>
    PrivatePub.subscribe("/chatroom", function(data, channel)
    {
      var current_user_id = '#{current_user.try(:id)}';
      if (data.receiver_id == current_user_id)
      {
        chatBox.chatWith(data.conversation_id);
      }
      else {
        chatBox.chatWith(data.conversation_id);
      }
    });
  </script>
  
  <script>
    $(document).ready(function(){
    	var project_id = $.jStorage.get('project_id');
    	if (project_id == null || project_id == '') {
    		project_id = <%= @project.id %>;
    		$.jStorage.set('project_id',project_id);
    		$.jStorage.setTTL("project_id", 25000);
    	}
    	if (project_id != <%= @project.id %>) {
    		$.jStorage.deleteKey('chatbox_div');
    	}
    	var chatbox = $('.chatbox')
    	var chatbox_div = $.jStorage.get('chatbox_div');
    	if (chatbox.length == 0 && chatbox_div != null) {
    		$(document.body).append(chatbox_div);
    	} 
    	<% if ChatSetting[:chat_auto_pop_on_load, @project.id].to_i > 0 %>
    	else {
	        var project_id = <%= @project.id %>;
			var sender_id = <%= User.current.id %>;
        	$.post("/conversations", { sender_id: sender_id, project_id: project_id }, function (data) {
            chatBox.chatWith(data.conversation_id);
        	});
       	}
       	<% end %>
    });
  </script>
<% end %>
