<% if @project && @project.module_enabled?(:redmine_chat) && User.current %>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta content='<%= User.current.id %>' name='user-id'/>

  <script>
    $(window).unload(function(){
    	<% if @project %>
    		var project_id = <%= @project.id %>;
    		$.jStorage.set('project_id',project_id);
    		$.jStorage.setTTL('project_id', 25000);
    	<% end %> 
    	<% if @project.conversation %>
    		<% conversation_id = @project.conversation.id %>
			var chatbox_div = $('#chatbox_<%= conversation_id %>').prop("outerHTML");
        	if (chatbox_div != undefined) {
        		$.jStorage.set('chatbox_div',chatbox_div);
        		$.jStorage.setTTL('chatbox_div', 25000);
        	}
        <% end %>
	});
  </script>
  <%= javascript_include_tag :private_pub, :plugin => 'redmine_chat', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag :redmine_chat, :plugin => 'redmine_chat', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag :chat, :plugin => 'redmine_chat', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag :users, :plugin => 'redmine_chat', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag "bootstrap.min.js", :plugin => 'redmine_chat', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag "json2.js", :plugin => 'redmine_chat', media: 'all', 'data-turbolinks-track' => true  %>
  <%= javascript_include_tag "jstorage.js", :plugin => 'redmine_chat', media: 'all', 'data-turbolinks-track' => true  %>
  <%= stylesheet_link_tag "redmine_chat.css", :plugin => 'redmine_chat' %>
  <%= stylesheet_link_tag "font-awesome.min.css", :plugin => 'redmine_chat' %>
  <%= stylesheet_link_tag "chat.css", :plugin => 'redmine_chat' %>
<% end %>
